:root {

    --A0: #000000;
    --A10: #161616;
    --A20: #2e2e2e;
    --A30: #464646;
    --A40: #5e5e5e;
    --A50: #777777;
    --A60: #919191;
    --A70: #ababab;
    --A80: #c7c7c7;
    --A90: #e2e2e2;
    --A100: #ffffff;

    --P2: #020202;
    --P4: #060606;
    --P6: #0b0b0b;
    --P10: #161616;
    --P12: #1b1b1b;
    --P13: #1e1e1e;
    --P17: #272727;
    --P22: #333333;
    --P24: #373737;
    --P87: #dadada;
    --P90: #e2e2e2;
    --P92: #e8e8e8;
    --P94: #ededed;
    --P96: #f4f4f4;
    --P98: #f9f9f9;
    --P100: #ffffff;
}