:root {

    --mainColor: #7141ff;
    --onMainColor: #000000;

    --gray: #777777;

    --P0: hsl(259, 100%, 0%);
    --P10: hsl(259, 100%, 14%);
    --P20: hsl(263, 100%, 25%);
    --P30: hsl(264, 99%, 36%);
    --P40: hsl(264, 100%, 47%);
    --P50: hsl(254, 100%, 65%);
    --P60: hsl(248, 100%, 74%);
    --P70: hsl(244, 100%, 81%);
    --P80: hsl(242, 100%, 87%);
    --P90: hsl(240, 100%, 94%);
    --P100: hsl(240, 100%, 100%);

    --N2: hsl(0, 0%, 1%);
    --N4: hsl(190, 0%, 2%);
    --N6: hsl(190, 0%, 4%);
    --N10: hsl(190, 0%, 9%);
    --N12: hsl(188, 0%, 11%);
    --N13: hsl(0, 0%, 11%);
    --N17: hsl(188, 0%, 15%);
    --N22: hsl(188, 0%, 20%);
    --N24: hsl(188, 0%, 22%);
    --N87: hsl(188, 0%, 85%);
    --N90: hsl(190, 0%, 89%);
    --N92: hsl(190, 0%, 91%);
    --N94: hsl(190, 0%, 93%);
    --N96: hsl(190, 0%, 96%);
    --N98: hsl(190, 0%, 98%);
    --N100: hsl(190, 0%, 100%);
}