:root {

    --mainColor: #127d8d;
    --onMainColor: #ffffff;

    --gray: #777777;

    --P10: hsl(190, 94%, 6%);
    --P20: hsl(188, 91%, 13%);
    --P30: hsl(188, 88%, 19%);
    --P40: hsl(188, 83%, 26%);
    --P80: hsl(188, 91%, 61%);
    --P90: hsl(190, 98%, 83%);
    --P100: hsl(190, 98%, 100%);

    --S10: hsl(8, 59%, 10%);
    --S20: hsl(8, 47%, 19%);
    --S30: hsl(8, 44%, 29%);
    --S40: hsl(8, 41%, 39%);
    --S80: hsl(10, 62%, 81%);
    --S90: hsl(10, 63%, 90%);
    --S100: hsl(10, 63%, 100%);

    --T10: hsl(188, 71%, 7%);
    --T20: hsl(187, 56%, 14%);
    --T30: hsl(187, 50%, 22%);
    --T40: hsl(188, 47%, 30%);
    --T80: hsl(188, 65%, 70%);
    --T90: hsl(188, 72%, 85%);
    --T100: hsl(188, 72%, 100%);

    --E0: hsl(1, 88%, 0%);
    --E10: hsl(1, 88%, 10%);
    --E20: hsl(2, 80%, 19%);
    --E30: hsl(2, 73%, 29%);
    --E40: hsl(2, 70%, 39%);
    --E50: hsl(4, 69%, 49%);
    --E60: hsl(6, 86%, 60%);
    --E70: hsl(7, 93%, 72%);
    --E80: hsl(7, 96%, 82%);
    --E90: hsl(8, 96%, 91%);
    --E100: hsl(8, 96%, 100%);

    --W0: hsl(27, 95%, 0%);
    --W10: hsl(27, 95%, 7%);
    --W20: hsl(31, 92%, 14%);
    --W30: hsl(32, 87%, 21%);
    --W40: hsl(32, 83%, 29%);
    --W50: hsl(32, 79%, 37%);
    --W60: hsl(31, 74%, 46%);
    --W70: hsl(30, 83%, 57%);
    --W80: hsl(28, 94%, 73%);
    --W90: hsl(27, 97%, 87%);
    --W100: hsl(27, 97%, 100%);

    --OK0: hsl(103, 80%, 0%);
    --OK10: hsl(103, 80%, 6%);
    --OK20: hsl(99, 69%, 13%);
    --OK30: hsl(99, 62%, 20%);
    --OK40: hsl(99, 59%, 27%);
    --OK50: hsl(99, 58%, 34%);
    --OK60: hsl(99, 58%, 42%);
    --OK70: hsl(99, 59%, 49%);
    --OK80: hsl(98, 78%, 56%);
    --OK90: hsl(102, 97%, 76%);
    --OK100: hsl(102, 97%, 100%);

    --N4: hsl(190, 0%, 2%);
    --N6: hsl(190, 0%, 4%);
    --N10: hsl(190, 0%, 9%);
    --N12: hsl(188, 0%, 11%);
    --N17: hsl(188, 0%, 15%);
    --N22: hsl(188, 0%, 20%);
    --N24: hsl(188, 0%, 22%);
    --N87: hsl(188, 0%, 85%);
    --N90: hsl(190, 0%, 89%);
    --N92: hsl(190, 0%, 91%);
    --N94: hsl(190, 0%, 93%);
    --N96: hsl(190, 0%, 96%);
    --N98: hsl(190, 0%, 98%);
    --N100: hsl(190, 0%, 100%);

    --NV30: hsl(191, 16%, 26%);
    --NV50: hsl(192, 14%, 45%);
    --NV60: hsl(192, 15%, 55%);
    --NV80: hsl(193, 23%, 77%);
}