:root {
    accent-color: var(--accent);
}

:root,
:root.dark {

    color-scheme: dark;

    --surface: var(--P6, #0b0b0b);
    --on-surface: var(--P90, #e2e2e2);
    --surface-variant: var(--P30, #464646);
    --on-surface-variant: var(--P80, #c7c7c7);
    --surface-container-highest: var(--P22, #333333);
    --surface-container-high: var(--P17, #272727);
    --surface-container: var(--P12, #1b1b1b);
    --surface-container-low: var(--P10, #161616);
    --surface-container-lowest: var(--P4, #060606);
    --inverse-surface: var(--P90, #e2e2e2);
    --inverse-on-surface: var(--P20, #2e2e2e);

    --outline: var(--P60, #919191);
    --outline-variant: var(--P30, #464646);

    --accent: var(--A80, var(--P80, #c7c7c7));
    --on-accent: var(--A20, var(--P20, #2e2e2e));
    --accent-container: var(--A30, var(--P30, #464646));
    --on-accent-container: var(--A90, var(--P90, #e2e2e2));

}

@media (prefers-color-scheme: light) {

    :root {

        color-scheme: light;

        --surface: var(--P98, #f9f9f9);
        --on-surface: var(--P10, #161616);
        --surface-variant: var(--P90, #e2e2e2);
        --on-surface-variant: var(--P30, #464646);
        --surface-container-highest: var(--P90, #e2e2e2);
        --surface-container-high: var(--P92, #e8e8e8);
        --surface-container: var(--P94, #eeeeee);
        --surface-container-low: var(--P96, #f4f4f4);
        --surface-container-lowest: var(--P100, #ffffff);
        --inverse-surface: var(--P20, #2e2e2e);
        --inverse-on-surface: var(--P95, #f1f1f1);

        --outline: var(--P50, #777777);
        --outline-variant: var(--P80, #c7c7c7);

        --accent: var(--A40, var(--P40, #5e5e5e));
        --on-accent: var(--A100, var(--P100, #ffffff));
        --accent-container: var(--A90, var(--P90, #e2e2e2));
        --on-accent-container: var(--A10, var(--P10, #161616));
    }
}

:root.light {
    color-scheme: light;

    --surface: var(--P98, #f9f9f9);
    --on-surface: var(--P10, #161616);
    --surface-variant: var(--P90, #e2e2e2);
    --on-surface-variant: var(--P30, #464646);
    --surface-container-highest: var(--P90, #e2e2e2);
    --surface-container-high: var(--P92, #e8e8e8);
    --surface-container: var(--P94, #eeeeee);
    --surface-container-low: var(--P96, #f4f4f4);
    --surface-container-lowest: var(--P100, #ffffff);
    --inverse-surface: var(--P20, #2e2e2e);
    --inverse-on-surface: var(--P95, #f1f1f1);

    --outline: var(--P50, #777777);
    --outline-variant: var(--P80, #c7c7c7);

    --accent: var(--A40, var(--P40, #5e5e5e));
    --on-accent: var(--A100, var(--P100, #ffffff));
    --accent-container: var(--A90, var(--P90, #e2e2e2));
    --on-accent-container: var(--A10, var(--P10, #161616));

}