:root {
    accent-color: var(--primary);
}

:root, :root.dark {
    --primary: var(--P80);
    --on-primary: var(--P20);
    --primary-container: var(--P30);
    --on-primary-container: var(--P90);
    
    --inverse-primary: var(--P20);
    --inverse-on-primary: var(--P80);
    --inverse-primary-container: var(--P70);
    --inverse-on-primary-container: var(--P10);

    --surface-dim: var(--N6);
    --surface: var(--N6);
    --surface-bright: var(--N24);
    --surface-container-lowest: var(--N4);
    --surface-container-low: var(--N10);
    --surface-container: var(--N12);
    --surface-container-high: var(--N17);
    --surface-container-highest: var(--N22);
    --on-surface: var(--N90);
    --on-surface-variant: var(--NV80);
    --outline: var(--NV60);
    --outline-variant: var(--NV30);

    --inverse-surface-dim: var(--N94);
    --inverse-surface: var(--N94);
    --inverse-on-surface: var(--N10);

    color-scheme: dark;
}

@media (prefers-color-scheme: light) {

    :root {
        --primary: var(--P40);
        --on-primary: var(--P100);
        --primary-container: var(--P90);
        --on-primary-container: var(--P10);
    
        --inverse-primary: var(--P60);
        --inverse-on-primary: var(--P0);
        --inverse-primary-container: var(--P10);
        --inverse-on-primary-container: var(--P90);
    
        --surface-dim: var(--N87);
        --surface: var(--N98);
        --surface-bright: var(--N98);
        --surface-container-lowest: var(--N100);
        --surface-container-low: var(--N96);
        --surface-container: var(--N94);
        --surface-container-high: var(--N92);
        --surface-container-highest: var(--N90);
        --on-surface: var(--N10);
        --on-surface-variant: var(--NV30);
        --outline: var(--NV50);
        --outline-variant: var(--NV80);

        --inverse-surface-dim: var(--N13);
        --inverse-surface: var(--N2);
        --inverse-on-surface: var(--N90);
        
        color-scheme: light;
    }
}

:root.light {
    --primary: var(--P40);
    --on-primary: var(--P100);
    --primary-container: var(--P90);
    --on-primary-container: var(--P10);

    --surface-dim: var(--N87);
    --surface: var(--N98);
    --surface-bright: var(--N98);
    --surface-container-lowest: var(--N100);
    --surface-container-low: var(--N96);
    --surface-container: var(--N94);
    --surface-container-high: var(--N92);
    --surface-container-highest: var(--N90);
    --on-surface: var(--N10);
    --on-surface-variant: var(--NV30);
    --outline: var(--NV50);
    --outline-variant: var(--NV80);

    --inverse-surface-dim: var(--N13);
    --inverse-surface: var(--N2);
    --inverse-on-surface: var(--N90);
    
    color-scheme: light;
}