* {
    transition: all 0.0833s ease-in-out;
}

body {
    background-color: var(--surface-container);
    color: var(--on-surface-container);
    margin: 0px;
    margin-bottom: 56px;
    font-family: 'Lexend', sans-serif;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

header {
    display: grid;
    grid-template:
        "body" 1fr /
        1fr;
    height: 56px;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 4px;
    background-color: var(--surface);
    color: var(--on-surface);
    padding: 0px 16px;
}

header>div {
    grid-area: body;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    width: 100%;
    height: 100%;
}

header>div:first-child {
    justify-content: flex-start;
    align-items: baseline;
}

header>div:last-child {
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.material-symbols-rounded {
    cursor: pointer;
    user-select: none;
}

header h1 {
    font-size: 16pt;
    color: var(--primary);
}

header p {
    display: none;
    font-size: 14px;
}

header p span {
    color: var(--primary);
}

header a {
    height: 24px;
    aspect-ratio: 1;
    fill: var(--on-surface);
}

header span:hover,
header a:hover {
    color: var(--primary);
    fill: var(--primary);
}

main>* {
    background-color: var(--surface);
    color: var(--on-surface);
}

nav {
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: var(--surface);
    color: var(--on-surface);
    height: 56px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav input {
    display: none;
}

input:checked+label>span {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

nav label {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    font-size: 8pt;
    cursor: pointer;
}

input[type="radio"]:checked+label,
input[type="radio"]:hover+label {
    color: var(--primary);
}

#tools,
#colors,
#details {
    display: none;
}

nav:has(#toolsTab:checked)~main>#tools {
    display: block !important;
}

nav:has(#colorsTab:checked)~main>#colors {
    display: block !important;
}

nav:has(#detailsTab:checked)~main>#details {
    display: block !important;
}

main>* {
    padding: 4px;
}

#colors h2 {
    text-align: center;
}

#colors>div,
#colors>section>div {
    display: flex;
    overflow: hidden;
    height: 128px;
    margin: 8px 4px;
    padding: 1.5px;
    gap: 1.5px;
    border-radius: 8px;
    background-color: var(--gray);
}

#generatedShades {
    height: 192px !important;
}

#colors>div>div,
#colors>section>div>div {
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 8px;
    cursor: pointer;
}

#canvasHolder {
    display: grid;
    grid-template:
        "body" 1fr /
        1fr;
    width: 244px;
    margin: 8px auto;
    height: 244px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    border-radius: 100%;
    background-color: var(--surface-container);
    aspect-ratio: 1;
}

#canvasHolder>* {
    grid-area: body;
    aspect-ratio: 1;
}

#hueWheel,
#hueWheelHandle {
    height: 100%;
    width: 100%;
}

#hueWheel {
    border-radius: 50%;
}

#canvasHolder>div {
    height: 80%;
    width: 80%;
    background-color: var(--surface-container);
    border-radius: 50%;
}

canvas {
    touch-action: none;
}

#svBox,
#svBoxHandle {
    height: 50%;
    width: 50%;
}

form>* {
    margin: 8px 8px;
}

form>input,
form>select {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

form select {
    padding: 8px 16px;
    border-radius: 56px;
    border: none;
    background-color: var(--surface-container-high);
    color: var(--on-surface);
}

form>div {
    display: flex;
}

form>div>* {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

form>div>*:first-child {
    flex-grow: 2;
}

form input {
    background-color: var(--surface-container);
    color: var(--on-surface);
}

form input[type="number"],
form input[type="text"] {
    border: none;
    text-align: center;
    padding: 4px 2px;
    border-radius: 8px;
}

#colorInput {
    display: block;
    margin: 16px auto;
    padding: 8px 4px;
    border-radius: 32px;
    background-color: var(--mainColor);
    color: var(--onMainColor);
    text-align: center;
    font-weight: 700;
}

#selectedColor {
    height: 56px;
}

#details div {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    margin: 8px 12px;
    background-color: var(--surface-container);
    padding: 8px;
}

#details div>p {
    flex-grow: 1;
    margin: 0px;
}

#details>P {
    margin-top: 24px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
}

#details div>span {
    width: 24px;
    margin-right: 4px;
}

#details div>span:active,
#details div>span:hover {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

#details {
    font-size: 10pt;
}

footer {
    display: grid;
    grid-template:
        "body" 1fr /
        1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: var(--surface);
    margin-top: 4px;
}

footer>* {
    grid-area: body;
    margin: 16px;
}

#snackbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 8px;
    right: 8px;
    bottom: -64px;
    border-radius: 4px;
    background-color: var(--inverse-surface);
    color: var(--inverse-primary);
    min-height: 48px;
    max-height: 68px;
    padding: 0px 16px;
    z-index: 15;
    vertical-align: middle;
    align-items: center;
    flex-wrap: nowrap;
}

#snackbar.open {
    bottom: 64px;
}

.toggle {
    border-radius: 32px;
    background-color: var(--surface-container-low);
    margin: 8px 16px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
}

.toggle * {
    cursor: pointer;
}

.toggle label {
    min-width: 0;
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: 4px 8px;
    background-color: transparent;
}

.toggle input {
    display: none;
}

.toggle input:checked~.on,
.toggle input:not(:checked)~.off {
    background-color: var(--primary);;
    color: var(--on-primary);
    font-weight: 700;
}


@media only screen and (min-width: 768px) {

    header p {
        display: block;
    }

}

@media only screen and (min-width: 1024px) {

    body {
        margin-bottom: 0px;
    }

    main {
        display: grid;
        grid-template:
            "tools colors details" 1fr /
            256px 1fr 256px;
        min-height: calc(100% - 64px);
        align-content: stretch;
        justify-content: space-evenly;
        align-items: stretch;
        justify-items: stretch;
        gap: 4px;
    }

    main>* {
        border-radius: 4px;
    }

    #tools {
        display: block;
        grid-area: tools;
    }

    #colors {
        display: block;
        grid-area: colors;
    }

    #details {
        display: block;
        grid-area: details;
    }

    nav {
        display: none;
    }

    #snackbar {
        position: fixed;
        left: unset;
        right: 16px;
    }

    #snackbar.open {
        bottom: 16px;
    }

}